.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat_header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}
.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font: 500;
}
.chat_headerInfo > p {
  color: gray;
}

a {
  text-transform: inherit !important;
}

.auth_buttons {
  background-color: rgb(167, 33, 33);
  text-transform: inherit !important;
}

.chat_body {
  flex: 1;
  background-color: mediumaquamarine;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  overflow-y: scroll;
}

.chat_message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat_name {
  position: absolute;
  left: -1px;
  top: -15px;
  font-weight: 600;
  font-size: xx-small;
  width: max-content;
}

.chat_reciever {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  border-top: 1px solid lightgray;
  background-color: rgb(189, 226, 218);
}

.chat_footer > form {
  flex: 1;
  display: flex;
  margin-left: 10px;
}

.chat_footer > form > input {
  flex: 0.98;
  border-radius: 30px;
  outline-width: 0;
  padding: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
}
.chat_footer > form > button {
  display: none;
}

.send-icon {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.send-icon :hover {
  flex: 1;
  font-size: 2rem !important;
  box-shadow: darkorchid !important;
}

.chat_footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
