.login {
  display: flex;
  background-image: url("https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  height: 100%;
  width: 100vw;
  display: grid;
  place-items: center;
  overflow-y: hidden;
  color: aliceblue;
}

.login_container {
  display: flex;
  background-color: rgba(51, 50, 50, 0.719);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 40px;
}

.login_container > h1 {
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 50px;
}

.login_container > p {
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 23px;
  font-weight: 600;
  width: 400px;
  text-align: center;
}

.login_container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login_container > button {
  margin-top: 50px;
  height: 50px;
  width: 220px;
  text-transform: inherit !important;
  background-color: #0eac7c;
  border-radius: 25px;
  color: white;
  font-weight: 600;
}

@media (max-width: 608px) {
  .login_container {
    display: flex;
    background-color: rgba(51, 50, 50, 0.719);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 40px;
  }

  .login_container > h1 {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 50px;
    width: auto;
    text-align: center;
  }

  .login_container > p {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 23px;
    font-weight: 600;
    width: auto;
    text-align: center;
  }

  .login_container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
  }

  .login_container > button {
    margin-top: 20px;

    height: 60px;
    width: 260px;
    text-transform: inherit !important;
    background-color: #0eac7c;
    border-radius: 25px;
    color: white;
    font-weight: 600;
  }
}
